swagger: "2.0"
info:
  description: "API aberta para empresas parceiras do Férias & Co."
  version: "1.0.0"
  title: "Open API - Férias & Co."
  x-logo:
    url: https://ferias-co.github.io/api-docs/logo.png
    altText: API Docs
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "api.ferias.co"
basePath: "/"
tags:
- name: "Authorization"
  description: "Autenticação no sistema."
- name: "Carga Colaboradores"
  description: "Todas as requisições para colaboradores."

schemes:
- "https"

paths:
  /connect/token:
    post:
      tags:
        - "Authorization"
      summary: "Gerar token"
      description: ""
      operationId: "getToken"
      consumes:
      - "form-data"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Gera um token de autenticação."
        required: true
        schema:
          $ref: "#/definitions/RequestToken"
      responses:
        "200":
          description: "OK"
        "400":
          description: "Bad Request"
        "401": 
          description: "Unauthorized"
        "500":
          description: "Server error"
  
  /carga-colaborador/enviar:
    post:
      tags:
      - "Carga Colaboradores"
      summary: "Adicionar lista de colaboradores"
      description: ""
      operationId: "addColaborador"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - in: "header"
          name: "Authorization"
          type: "string"
          required: true
        - in: "body"
          name: "body"
          description: "Adiciona uma lista de colaboradores à fila de criação."
          required: true
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Colaborador"
      responses:
        "200":
          description: "Colaboradores estão sendo processados em nosso sistema."
        "401": 
          description: "Unauthorized"
        "500":
          description: "Server error"
    put:
      tags:
      - "Carga Colaboradores"
      summary: "Atualizar lista de colaboradores"
      description: ""
      operationId: "updateColaborador"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - in: "header"
          name: "Authorization"
          type: "string"
          required: true
        - in: "body"
          name: "body"
          description: "Adiciona uma lista de colaboradores à fila de atualização."
          required: true
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Colaborador"
      responses:
        "200":
          description: "Colaboradores estão sendo processados em nosso sistema."
        "401": 
          description: "Unauthorized"
        "405":
          description: "Server error"
    

definitions:
  RequestToken:
    type: "object"
    required:
    - "client_id"
    - "client_secret"
    - "grant_type"
    - "userid"
    properties:
      client_id:
        type: "string"
      client_secret:
        type: "string"
      grant_type:
        type: "string"  
      userid:
        type: "string"
        
  Colaborador:
    type: "object"
    required:
    - "DATANASCIMENTO"
    - "NOME"
    - "CPF"
    properties:
      DATANASCIMENTO:
        type: "string"
      NOME:
        type: "string"
      CPF:
        type: "string"
      MATRICULA:
        type: "string"
      TELEFONE:
        type: "string"
      RAMAL:
        type: "string"
      CELULAR:
        type: "string"
      EMAILCORPORATIVO:
        type: "string"
      CARGO:
        type: "string"
      AREA:
        type: "string"
      DEPARTAMENTO:
        type: "string"
      CNPJFILIAL:
        type: "string"
      UNIDADE:
        type: "string"
      CENTROCUSTO:
        type: "string"
      COPARTICIPACAO:
        type: "string"
      DESCONTOFOLHA:
        type: "string"
      
    xml:
      name: "Colaborador"
  ApiResponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      type:
        type: "string"
      message:
        type: "string"

  