<!DOCTYPE html>
<html>

<head>
  <meta charset="utf8" />
  <title>API Docs - Férias&Co.</title>
  <!-- needed for adaptive design -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      padding: 0;
      margin: 0;
    }

    h1,
    h2,
    h3,
    h4,
    p,
    span,
    label {
      font-family: Roboto !important;
    }

    a {
      color: #00b0b0 !important;
    }

    /* MENU */
    .menu-content {
      background-color: #4b4b4b !important;
      color: white !important;
    }

    /*pesquisa*/
    .bJNzQd {
      border-bottom: 2px solid #f9b508 !important;
      color: white !important;
      /*margin-bottom: 30px !important;*/
    }

    .hhyBQH {
      background-color: #525252 !important;
    }

    .sc-gPEVay {
      margin-top: 30px !important;
    }

    .menu-content span {
      color: white !important;
    }

    .chIqbW {
      background-color: #535252 !important;
      outline: none !important;
    }

    .bLMrnV:hover {
      background-color: #535252 !important;
    }

    .fNeAUJ {
      box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.16) !important;
      background-color: #535252 !important;
      outline: none !important;
    }

    .cjqQLX:hover {
      background-color: #656565 !important
    }

    .sc-jTzLTM polygon {
      fill: #f9b508 !important;
      stroke: #f9b508 !important;
    }

    .sc-kafWEX {
      padding: 60px 30px !important;
    }

    .sc-elJkPf a {
      display: none !important;
    }

    /* FIM MENU */

    /*Titulo*/
    .sc-htoDjs {
      font-size: 30px !important;
      font-weight: bold !important;
      color: #4e306f !important;
    }

    .eHtzbE a:visited {
      color: #00b0b0 !important;
    }

    .jIdpVJ {
      border-color: #00b0b0 !important;
    }

    /* Menu direita */
    .kTYKTV {
      background-color: #4b4b4b !important;
    }

    .dtUibw {
      background-color: #4b4b4b !important;
    }

    /* Request sample */
    .jCgylq .token.selector,
    .jCgylq .token.attr-name,
    .jCgylq .token.string,
    .jCgylq .token.char,
    .jCgylq .token.builtin,
    .jCgylq .token.inserted {
      color: #00b0b0 !important;
    }

    /* GET TAG */
    .http-verb.get, .operation-type.get {
      background-color: #00b0b0 !important;
    }

    /* PUT TAG */
    .http-verb.put, .operation-type.put {
          background-color: #f9b508 !important;
    }

    /* POST TAG */
    .http-verb.post, .operation-type.post {
      background-color: #52b6e0 !important;
    }

    /* DELETE TAG */
    .http-verb.delete, .operation-type.delete {
      background-color: #ce3a3c !important;
    }
  </style>
  {{{redocHead}}}
  {{#unless disableGoogleFont}}
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">
  {{/unless}}
</head>

<body>
  {{{redocHTML}}}
</body>

</html>